// @import "./js-advance-hw12/src/variables";

// *{
//     background-color: rgb(240, 240, 240);
// }
$margin : 0 auto;
$width: 80%;
$radius: 5px;
$border: 1px solid;
$white: white;
.mytable {
  width: $width;
  margin: $margin;

}

tr {
  width: 100%;
  height: 45px;
  border-top: $border #dee2e6;
}

.edit {
  width: 50px;
  height: 35px;
  background-color: orange;
  border: $border orange;
  border-radius: $radius;
  text-align: center;
}

.edit:focus {
  outline: none;
  border: $border orange;
  box-shadow: 0 0 3px 3px orange;
}

.del {
  text-align: center;
  width: 70px;
  height: 35px;
  background-color: red;
  border: $border red;
  border-radius: $radius;
  color: white;
}

.del:focus {
  outline: none;
  border: $border red;
  box-shadow: 0 0 3px 3px red;
}

.color {
  color: red;
}

.bcolor {
  background-color: rgb(228, 76, 76);
}

.save {
  background-color: green;
  border-radius: $radius;
  border: $border green;
  height: 35px;
  color: $white;
}

.save:focus {
  outline: none;
  border: $border green;
  box-shadow: 0 0 3px 3px green;
}

tr:hover {
  background-color: lightgray;
}

.save:hover {
  background-color: darkgreen;
}

.del:hover {
  background-color: darkred;
}

.edit:hover {
  background-color: darkgoldenrod;
}
